<% @body_id = 'home-page' %>

<div data-hook="homepage_products">
	LANDING PAGE
  <% cache(cache_key_for_products) do %>
    <%= render partial: 'spree/shared/products', locals: { products: @products } %>
  <% end %>
</div>